@use 'sass:color';
@import 'tippy.js/dist/tippy.css';

$filminBackground: #242432;
$filminColor: #02ffa1;
$prefix: 'filminlinks';

:root {
  --flinks-button-toolbar-background: #{$filminBackground};
  --flinks-button-toolbar-border: #{color.adjust($filminBackground, $lightness: 25%, $alpha: 0.8)};
  --flinks-button-toolbar-radius: 0.25rem;
  --flinks-button-toolbar-shadow: #{color.adjust($filminBackground, $lightness: -10%, $alpha: 0.8)};
  --flinks-button-background: #{color.adjust($filminBackground, $lightness: -20%)};
  --flinks-button-background-hover: #{color.adjust($filminBackground, $lightness: -5%)};
  --flinks-button-color: #{$filminColor};
  --flinks-button-color-hover: #{color.adjust($filminColor, $lightness: 15%)};
  --flinks-link-color: #{color.mix($filminBackground, white, 50%)};
  --flinks-link-color-hover: #{$filminColor};
}

.tippy-box[data-theme~='#{$prefix}'] {
  background-color: var(--flinks-button-toolbar-background);
  color: white;
  border: 1px solid var(--flinks-button-toolbar-border);
  box-shadow: 0 10px 20px -5px var(--flinks-button-toolbar-shadow);

  .tippy-content {
    padding: 1rem;
  }

  .tippy-arrow {
    color: var(--flinks-button-toolbar-background);
  }
}

.#{$prefix} {
  font-size: 1rem;

  &-toolbar {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      &-center {
        justify-content: center;
      }
    }

    &-title {
      font-size: 1rem;
      font-weight: 400;
      margin: 0;
    }

    &-term {
      font-size: 1.25rem;
      font-weight: 800;
    }
  }

  &-logo {
    height: 100%;
    max-height: 64px;
  }

  &-settings-button {
    font-size: 0.75rem;
    font-weight: 300;
    color: var(--flinks-link-color);

    &:hover,
    &:active,
    &:focus {
      color: var(--flinks-link-color-hover);
    }
  }

  &-button {
    padding: 0.5em;
    border-radius: var(--flinks-button-toolbar-radius);
    pointer-events: all;
    transition: all 0.3s;
    text-decoration: none;
    background-color: var(--flinks-button-background);
    color: var(--flinks-button-color);

    &:hover,
    &:active,
    &:focus {
      background-color: var(--flinks-button-background-hover);
      color: var(--flinks-button-color-hover);
      text-decoration: none;
    }

    &.fa-button {
      $background: #006eca;
      $color: #fdcc1a;
      --flinks-button-background: #{$background};
      --flinks-button-background-hover: #{color.adjust($background, $lightness: 15%)};
      --flinks-button-color: #{$color};
      --flinks-button-color-hover: #{color.adjust($color, $lightness: 10%)};
    }

    &.imdb-button {
      $background: #f5c518;
      $color: #000000;
      --flinks-button-background: #{$background};
      --flinks-button-background-hover: #{color.adjust($background, $lightness: 15%)};
      --flinks-button-color: #{$color};
      --flinks-button-color-hover: #{color.adjust($color, $lightness: 10%)};
    }

    &.letterboxd-button {
      $background: #00e054;
      $color: #202830;
      --flinks-button-background: #{$background};
      --flinks-button-background-hover: #{color.adjust($background, $lightness: 15%)};
      --flinks-button-color: #{$color};
      --flinks-button-color-hover: #{color.adjust($color, $lightness: 10%)};
    }
  }
}

// Bugfixes
h1.display-1,
h2.display-1 {
  width: fit-content;
}
